html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

body {
	line-height: 1;
    background-color:white;
    font-family: 'Roboto', sans-serif;
    height: 7000px;
    scroll-behavior: smooth;
}
ol, ul {
	list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

/*navigation bar Section*/
header{
    position: fixed;
    z-index: 9999;
}
.main_header{
    background-color: white;
    color: #5d5d5d;
    height: 85px;
    min-width:100vw;
    overflow: hidden;

}
.main_logo{
    position: absolute;
    width: auto;
    height: auto;
    left: 7em;
    top: 0.3em;
    z-index: 100;
}
/* top header */
.header_top{
    height: 30px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.alumni_corner{
    display: inline-flex;
    width: 144px;
    height: 100%;
    background-image: linear-gradient(to left,#ff5722 0,#f39900 100%);
    color: white;
    font-weight: 500;
    margin-left: 320px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.alumni_corner i{
    margin-left: 5px;
    font-size: larger;
}
.nav_top_contact{
    background-color: #ff5722;
    display: flex;
    padding: 5px 5px 5px 20px;
    color: white;
    border-radius:30px 0 0 30px;

}
.nav_top_contact p{
    flex: 1 0 auto;
}
.ul_Social{
    font-size: larger;
    font-weight: 600;
    color:white;
    display: flex;
    margin-left: 10px;
    margin-right: 20px;
}
.ul_Social li{
    height: 100%;
    margin-left:10px;
}
.ul_Social li>a:hover{
    color: #333333;
}
strong{
    font-weight: 700;
}
.menu_icon{
    display:none;
}

/* bottom header */
.header_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    min-width: 70%;
    position: absolute;
    left: 15rem;
    overflow: hidden;
    
}
nav li{
    /* border: 2px solid black; */
    /* min-width: 100px; */
flex: 1 0 auto;
}
nav a{
    color: #5d5d5d;
    font-size: 1rem;
    position: relative;
}

/* navigation bar animation hover  */
nav a::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background-color: #ff5722;
    position: absolute;
    top: -2px;
    left: 0;
    transition: width 0.3s ease-out;
}
nav a:hover::after {
    width: 100%;
}
nav ul{
    display: flex;
    gap:1.3rem;
    font-weight: 600;
}
.list_black{
    color: #333333;
}
.header_bottom li>a:hover{
    color: #ff5722;
}
.nav_button{
    margin: 0;
    background-color: #ff5722;
    border: transparent;
    height: 40px;
    width: 83px;
    border-radius: 7px;
    margin-left: 1.3rem;
}
.nav_button_1000{
    display: none;
}

/* MAIN SECTION */


.fixed_icons{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    position: fixed;
    right: -200px;
    top: 160px;
    z-index: 10;
    flex:1 1 auto;
}
.fixed{
    height: 50px;
    width: 250px;
    background-color: #f34108;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}
.fixed p{
    letter-spacing: 2px;
}
.fixed i{
    font-weight: 600;
    margin-right: 20px;
    font-size: 20px;
}
.fixed1{
    margin-left: 200px;
    transition: all 0.3s ease;
}
.fixed1:hover{
    margin-left:0px;
}
.fixed2{
    position:relative;
    margin-left: 200px;
    transition: all 0.3s ease;
}
.fixed2:hover{
    margin-left:0px;
}
.fixed3{
    position:relative;
    margin-left: 200px;
    transition: all 0.3s ease;
}
.fixed3:hover{
    margin-left:0px;
}
/* Welcome Section  */

.welcom_container{
    display: flex;
    height: 70vh;
    padding:2rem 0 2rem 0;
    overflow: hidden;
    justify-content: center;
}
.welcome_inside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wel_content{
    max-width: 40vw;
    padding-top:2rem;
    margin-right: 2rem;
}
.heading_welcome{
    font-size: 2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 1rem;
    color: #333333;
    font-weight: 600;
    text-align: none;
}
.heading_welcome span{
    color: #f39900;
}
.wel_img{
    position: relative;
    display: flex;
    justify-content: center;
}
.wel_img img{
    height:95%;
    width: 100%;
}
.wel_p{
    line-height: 2;
    object-fit: contain;
    flex: 1 1 auto;
    text-align: justify;
    margin-top: 3rem;
    font-weight:lighter;
    font-size:0.9rem;
    padding-right: 20px;
}
/* media queries starts here */


@media screen and (max-width:1164px) {
    .nav_top_contact{
        background-color: #ff5722;
        display: flex;
        padding: 5px 25px 5px 20px;
        color: white;
        border-radius:30px 0 0 30px;
        align-items: center;
    
    }
    .ul_Social{
        font-size: larger;
        font-weight: 600;
        color:white;
        display: flex;
    }
    .ul_Social li{
        height: 100%;
        margin-left:10px;
    }
    .header_bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        min-width: 70%;
        position: absolute;
        left: 15rem;
        overflow: hidden;
        
    }
    nav li{
    flex: 1 0 auto;
    }
    nav a{
        color: #5d5d5d;
        font-size: 0.8rem;
        position: relative;
    }
    .welcom_container{
        display: flex;
        height: auto;
        overflow: hidden;
        justify-content: center;
        padding:2rem;
    }
    .welcome_inside{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex:1 1 auto;
    }
    .wel_content{
        max-width:1000px;
        padding:20px;
        margin-right: 0;
        margin-top: 0px;
    }
    .heading_welcome{
        font-size: 2rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-bottom: 1rem;
        color: #333333;
        font-weight: 600;
        text-align: none;
    }
    .heading_welcome span{
        color: #f39900;
    }
    .wel_img{
        position: relative;
        display: flex;
        justify-content: center;
    }
    .wel_img img{
        height:250px;
        width:350px;
    }
    .wel_p{
        line-height: 2;
        object-fit: contain;
        flex: 1 1 auto;
        text-align: justify;
        margin-top: 1rem;
        font-weight:lighter;
        font-size:0.9rem;
        padding-right: 20px;
        
    }

}


/* below 1003 pixels screens */

@media screen and (max-width:1003px) {
    .nav_top_contact{
        background-color: #ff5722;
        display: none;
        padding: 5px 25px 5px 20px;
        color: white;
        border-radius:30px 0 0 30px;
        align-items: center;
    }
    .header_bottom{
        display: none;
        
    }
    nav li{
    flex: 1 0 auto;
    }
    nav a{
        color: #5d5d5d;
        font-size: 0.8rem;
        position: relative;
    }
    .nav_button_1000{
        display: inline-block;
        background-color: #ff5722;
        border: transparent;
        height: 35px;
        width: 80px;
        border-radius: 7px;
        position: absolute;
        left: 83vw;
        top:28px;
        margin-right: 20px;
    }
    .nav_button_1000 a{
        font-weight: 600;
    }
    .alumni_corner{
        display: none;
    }
    .main_logo{
        position: absolute;
        width: auto;
        height: auto;
        left: 44vw;
        top:1vh;
        z-index: 100;
    }
    .menu_icon{
        color:#ff5722;
        font-weight: 600;
        display: inline-flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        right: 85vw;
    }
    .menu_icon i{
        font-size:27px;
        margin-right: 10px;
    }
    .welcom_container{
        display: flex;
        height: auto;
        overflow: hidden;
        justify-content: center;
        padding:2rem 0 2rem 0;
    }
    .welcome_inside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex:1 1 auto;
    }
    .wel_content{
        max-width:1000px;
        padding:20px;
        margin-right: 0;
        margin-top: 0px;
    }
    .heading_welcome{
        font-size: 2rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-bottom: 1rem;
        color: #333333;
        font-weight: 600;
        text-align: center;
    }
    .heading_welcome span{
        color: #f39900;
    }
    .wel_img{
        position: relative;
        display: flex;
        justify-content: center;
    }
    .wel_img img{
        height:300px;
        width:400px;
    }
    .wel_p{
        line-height: 2;
        object-fit: contain;
        flex: 1 1 auto;
        text-align: justify;
        margin-top: 1rem;
        font-weight:lighter;
        font-size:0.9rem;
        padding-right: 0px;
        
    }

}

/* below 519 pixels screens*/


@media screen and (max-width:519px) {
    .nav_button_1000{
        display: inline-block;
        background-color: #ff5722;
        border: transparent;
        height: 30px;
        width: 70px;
        border-radius: 7px;
        position: relative;
        left: 78vw;
        top: 1px;
    }
    .nav_button_1000 a{
        font-weight: 600;
    }
    .main_logo{
        position: absolute;
        width: 90px;
        height: 70px;
        left: 39vw;
        top:1vh;
        z-index: 100;
    }
    .menu_icon{
        color:#ff5722;
        font-weight: 600;
        display: inline-flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        right: 75vw;
    }
    .menu_icon i{
        font-size:27px;
        margin-right: 10px;
    }
    .welcom_container{
        display: flex;
        height: auto;
        overflow: hidden;
        justify-content: center;
        padding:2rem 0 2rem 0;
    }
    .welcome_inside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex:1 1 auto;
    }
    .wel_content{
        max-width:512px;
        padding:20px;
        margin-right: 0;
        margin-top: 0px;
    }
    .heading_welcome{
        font-size: 1.5rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-bottom: 1rem;
        color: #333333;
        font-weight: 600;
        text-align: left;
    }
    .heading_welcome span{
        color: #f39900;
    }
    .wel_img{
        position: relative;
        display: flex;
        justify-content: center;
    }
    .wel_img img{
        height:95%;
        width: 100%;
    }
    .wel_p{
        line-height: 2;
        object-fit: contain;
        flex: 1 1 auto;
        text-align: justify;
        margin-top: 1rem;
        font-weight:lighter;
        font-size:0.9rem;
        padding-right: 0px;
    }
}


/* below 320 pixels screens*/

@media screen and (max-width:320px) {
    .main_logo{
        position: absolute;
        width: 90px;
        height: 70px;
        left: 37vw;
        top:1vh;
        z-index: 100;
    }
    .nav_button_1000{
        display: inline-block;
        background-color: #ff5722;
        border: transparent;
        height: 2rem;
        width: 4.5rem;
        border-radius: 7px;
        position: relative;
        left: 75vw;
        
    }
    .nav_button_1000 a{
        font-weight: 600;
        font-size: 13px;
    }
    .menu_icon{
        color:#ff5722;
        font-weight: 600;
        display: inline-flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        right: 80vw;
    }
    .menu_icon i{
        font-size:27px;
        margin-right: 10px;

    }
    .menu_icon p{
        display: none;
    }
    .welcom_container{
        display: flex;
        height: auto;
        overflow: hidden;
        justify-content: center;
        padding:2rem 0 2rem 0;
    }
    .welcome_inside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex:1 1 auto;
    }
    .wel_content{
        max-width:512px;
        padding:20px;
        margin-right: 0;
        margin-top: 0px;
    }
    .heading_welcome{
        font-size: 1.5rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-bottom: 1rem;
        color: #333333;
        font-weight: 600;
        text-align: left;
    }
    .heading_welcome span{
        color: #f39900;
    }
    .wel_img{
        position: relative;
        display: flex;
        justify-content: center;
    }
    .wel_img img{
        height:95%;
        width: 100%;
    }
    .wel_p{
        line-height: 2;
        object-fit: contain;
        flex: 1 1 auto;
        text-align: justify;
        margin-top: 1rem;
        font-weight:lighter;
        font-size:0.9rem;
        padding-right: 0px;
        
    }
}