html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

body {
	line-height: 1;
    background-color: bisque;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

/*navigation bar Section*/
.main_header{
    background-color: white;
    color: #5d5d5d;
    height: 12vh;
    min-width:100vw;
    position: relative;
    overflow: hidden;

}
.main_logo{
    position: absolute;
    width: auto;
    height: auto;
    left: 7em;
    top: 0.3em;
    z-index: 100;
}
/* top header */
.header_top{
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.alumni_corner{
    display: inline-flex;
    width: 144px;
    height: 100%;
    background-image: linear-gradient(to left,#ff5722 0,#f39900 100%);
    color: white;
    font-weight: 500;
    margin-left: 320px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.alumni_corner i{
    margin-left: 5px;
    font-size: larger;
}
.nav_top_contact{
    background-color: #ff5722;
    display: flex;
    padding: 5px 0px 5px 20px;
    color: white;
    border-radius:30px 0 0 30px;

}
.ul_Social{
    font-size: larger;
    font-weight: 600;
    color:white;
    display: flex;
    margin-left: 1rem;
}
.ul_Social li{
    height: 100%;
    margin-left: 1rem;
}
strong{
    font-weight: 700;
}

/* bottom header */
.header_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    min-width: 70%;
    position: absolute;
    left: 15rem;
    overflow: hidden;
    
}
nav li{
    /* border: 2px solid black; */
    /* min-width: 100px; */
flex: 1 0 auto;
}
nav a{
    color: #5d5d5d;
    font-size: 1rem;
    position: relative;
}

/* navigation bar animation hover  */
nav a::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background-color: #ff5722;
    position: absolute;
    top: -2px;
    left: 0;
    transition: width 0.3s ease-out;
}
nav a:hover::after {
    width: 100%;
}
nav ul{
    display: flex;
    gap:1.3rem;
    font-weight: 600;
}
.list_black{
    color: #333333;
}
li>a:hover{
    color: #ff5722;
}
.nav_button{
    margin: 0;
    background-color: #ff5722;
    border: transparent;
    height: 40px;
    width: 83px;
    border-radius: 7px;
    margin-left: 1.3rem;
}
.nav_button_1000{
    display: none;
}
@media screen and (max-width:1164px) {
    .nav_top_contact{
        background-color: #ff5722;
        display: flex;
        padding: 5px 25px 5px 20px;
        color: white;
        border-radius:30px 0 0 30px;
        align-items: center;
    
    }
    .ul_Social{
        font-size: larger;
        font-weight: 600;
        color:white;
        display: flex;
    }
    .ul_Social li{
        height: 100%;
        margin-left:10px;
    }
    .header_bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7vh;
        min-width: 70%;
        position: absolute;
        left: 15rem;
        overflow: hidden;
        
    }
    nav li{
        /* border: 2px solid black; */
        /* min-width: 100px; */
    flex: 1 0 auto;
    }
    nav a{
        color: #5d5d5d;
        font-size: 0.8rem;
        position: relative;
    }
    
}
@media screen and (max-width:1003px) {
    .nav_top_contact{
        background-color: #ff5722;
        display: none;
        padding: 5px 25px 5px 20px;
        color: white;
        border-radius:30px 0 0 30px;
        align-items: center;
    }
    .header_bottom{
        display: none;
        
    }
    nav li{
    flex: 1 0 auto;
    }
    nav a{
        color: #5d5d5d;
        font-size: 0.8rem;
        position: relative;
    }
    .nav_button_1000{
        display: inline-block;
        background-color: #ff5722;
        border: transparent;
        height: 50px;
        width: 110px;
        border-radius: 7px;
        position: absolute;
        left: 84vw;
        top: 3vh;
    }
    .alumni_corner{
        display: none;
    }
    .main_logo{
        position: absolute;
        width: auto;
        height: auto;
        left: 44vw;
        top:1vh;
        z-index: 100;
    }

}